<%= link_to "home", root_path %>
<h1> Abous </h1>
<h14></h14><p>
::::::::;;:::;;':,,...............,,,,,,,,,,,,,,:,,,,,,,:::;;::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::;;
::::::::::::::;;'':,,.............,,,,,,,,,,,,,,,,,:,,,,,:::;:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::;;;;;
:::::::::::;::;;;;';:,,...........,,,,,,,,,,,,,,,,,,,:,,,,:::::::;::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::;;;;;;;
::::::::;:::::::;;;;';,,..............,,,,,,,,,,,,,,,,,,,,,:::;;:::::::::::::::::::::::::::::::::::::,,,,,::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::;;;;;;;;:
::::::::::::;:::;;;;;;;:,,.............,,,,,,,,,,,,,,,:::,,,,:::;;:::::::::::::::::::::::::::::,,:,,,...,,,.,,,::,:,:::::::::::::::::::::::::::::::::::::::::::::::::;;;;;;::::
:::::::::::::::::;;;;;;'::,,.........,.,.,,,,,,,,,,,,,,::::,,,:::;;;::::::::::::::::::::::::::,.,,,..``..````..,,,,:::::::::::::::::::::::::::::::::::::::::::::::;;;;;;;::;:::
::::::::::;;::::::;;;;;;;;:,,,...........,,,,,,,,,,,,,,:,:::,,,,::;;;;::::::::::::::::::::::,,,.....```````````...,,:::::::::::::::::::::::::::::::::::::::::::;:;;;;;;:;::::::
::::::::::::;:::::;::;:;;;';:,,..........,,,,,,,,,,,,,,,,,,::,:,,,::;;;:::::::::::::::::,,,,,,.`````````    ``````..,,::::::::::::::::::::::::::::::::::::::::;;;;;;;:::::::;:;
::::::::::::::::::::;;;;;;;';;,,,..........,.,,,,,,,,,,,,,::,::,,,:::;;::::::::,,,,,:,,,,,,,,..`.`````       ``````..,,,::::::::::::::::::::::::::::::::::::;;;;;;;::::::::;;;;
,,,::::::::::::;::;:;;;;;;;;;;;:,,.........,,,,,,,,,,,,,,,:,,,::,,,,::::::,,,,,,,,.,,..,.,,,,...`````         ```````..,,,,:::::::::::::::::::::::::::::::;;;;;;;:::;:::::;;;;:
,,,,,:::::::::::;;;;;;;:;;;;;;';;,,...........,,,,,,,,,,,,,,,:::,:,,,,,,,,,,,,,,....,....,,,,....`````  `  ```````````...,,,::::::::::::::::::::::::::::;;;;;;;;::::::::::;;;::
::,,,,,:,::::;::::::;:::;;;;;;;;;;:,,,.......,.,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,........,,,,,.....````  ```````````````..,,,,:::::::::::::::::::::::::;;;;;;;;:::;::::;;;::::::
:,,,,,,,:,:::::::::::;;:;;;;;;;;;;';:,,........,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,........,,,,......```   ````````````````.`..,:::::::::::::::::::::::;;;;;;;;::::::;:::;:;::::::
:,,,,,,,,,::::::::::;:;;:;;;;;;;;;;;';:,,.......,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.......,,,,,..,...```   ````````````````````..,,,::::::::::::::::;;;;;;;;;::::::::::;;;;::;::::
:,,,,,,,,,,:::::::::::;;:;;;;;;;;;;;'';:,,......,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,......,.,,,,,....`````      ``````````````````...,,:::::::::::::;;;;;;;;;:::::;:::;;;:;:;:::::::
::,:,,,,,,,,:,::::::::;;;;;;;;;;;;;;;;;::,,,....,,,,,,,,,:,,,,,,,,,...,,,,,,,,,....,,,,,,,,,.,..```````    ``````````````````...,,,::::::::::;;;;;;;;;:::::::::::;:::::::::;:::
,::,,,,,,,,:,,,::::::::;;;;;;;;;;;;;;';,,,::,,.,,,,::::::::,,,,,,,,..,,.,,,,.,,,.,,,::::::::,,,...`````````````````...````````...,,,:::::::;;;;;;;;::::::::::::;;;;::::::::::::
::,,,,,,::,,,,,:::::::;:;;;;;;;;;;;;;;;:.,,::,,,,::::::::::::,,,,,,,,,,,,,,,.,,,,,::;;;;;::::::,,,...``````````..................,,,,::;::;;;;;;;:;::::::;:;;;;;;:;::::::::::::
,,::,:::,::,,::,::::::;;;;;;;;;';;;;'';;:,,:::::::;:;;;:::::,,,::::,,:::::,,,,::;;;;;'''';;;;;;;;::,,.............................,.,,::;;;;;;:;;;::;:::;;:;::::;::::::::::::::
.,,:::::::::,::::::::::;;;;;;;;''';;;;;;;:::;:;:;;;;;;;;;:::,,::;;;;:;;::::,,,::;;;'''''+''+''''';::::,,,,,,,,,,..,,,,,,...,......,,,,:;;;;;;::;:::;;:;:;;:;;::::::::::::::::::
...,,:::::::::::::::::::;;';;;;;;;';;;;'';;:;;;;;;;;;;';:::::::;;;;;;;:;:,,,,::;;'''++++++++++++'';;;::::::::,,,,,,,,,,,,,,,,,,,,,,,,,:;;;;;:::::;:;;::;;::;:::::::::::::::::::
.....,,::::::::::::::::::;;;';;;;;;';'';;;;;;;;;';;';';;::;::;;;::;;:;:::,,::;;;'''++##+##+++++++''''';;;;:;:::,:,,,,,,,,,,,,:,,,,,,,,:::::::;::::;;:;;:::;;:::::::::::::::::::
.....,,,,:::::::::::::::::;;;;';'''''';;;;;;;;;''''''';;;;;;;;;;;;;;:::::::;;;'''++#+#######+##++++++''''';;;;::::::,:,,,,,,:::::::,,:,::::::;;::;;;::::;::;:::::::::::::::::::
.........,:;:::::::::::::::;;;''''''''';:;;;''''''''';'';''';;';;;;;;;::::;;'''+++##############+++++++++'''';;;;;;;::::::::::::;;::::::::::::;::;;;::::::::;::::::::::::::::::
..........,;;::::::::;::;;:;;;''''';'';;;:;''''''''''';'''''''''';';;;'''''''''+######################++++++++''';;;;;;::::::;;;;;;;;;:::::::::;;;::;::;:::::::::::::::::::::::
`.........,:'';::::;:;:;;;;;;;;''''''';;;;;''''''''''''''';'''''''''++++++++++'++#########################++#''''''''';;;;:::;;;;;;';;;:::::::::::::::::;:::::::::::::,::::::::
`..........:''''';:::;;;;;;;;;;;;'''';;;;'''++++++''''''++''+++++++++++##+#++++++############################+#+++++''';;;;;;;;;;;;;;;;:::,:::::::::::::::::::::::::::::::::,,,
`..........,;;'''';;;;;;;;;;;;;;;;;;;''''++++++++++++'+++++'##++++###+######+++++###########@######@@##########+++#++''''';;;;;;';;;;';;::::::::::::::::::::::::::::::::::,,,,,
....`......,:;;''+''';;;;;;;;;;;;;;';;'''++++####++++''++++++##############+++#++######@###@@@@#@@@@@#@###@@####++##++'+'';';;;;;;;;;;';;::;::::::::::::::::::::::::::,:,,::,,,
`..```.....,:;;;;''+''';;;;;;;';;;;;'''''+++###+#+##++++####+#@#########++++++#######@@##@@@@#@@@@@@@@@#@@@@#@@######++++';;';''';;;;''';;;;::::::::::::::::::,:::,:,,,,,,,,,,,
`.`..`.....,::;;;;'''+''';;;:;;;;;;;'''++++######+###+####################+++####@@@@@@##@@@@@@@@@@@@@@@@@@@@@@######++++''';''++'';;'''';;;;::::::::::::::::::::::::,:,,,,,,,,
``````.....,:::;;;;'''''''';,:;;;;'''++++####################################@##@@@@@#@#@@@@@@@@@@@@@@@@@@@@@@@@@@@##++##++';''++'''''+''+';;;:::::::::::,::,:::,,,,:,,,,,,,,,,
```.``.....,+':::;;;''''';';:::;''''+++#+##########@#########################@#@@@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@#####++''+++++'''''''''';;;:::::::::::::::,,::,,:,:,,,,,,,,
````````...,#++';;;;;;;;''';;::;'''+++#+#####@#######@######################@@@@@@@@##@@@#@#@@#@#@@@#@@@@@@@@@@@@@@@######+++++++++'''''+''';;;:::::::::::::::,:,,,,,,,,,,,,,,,
`````````...####+';;;;';;;;;';;:;''++########@##############+############@#@@@@@@@@@@@#@#@@@@@@#@###@@@@@@@@@@@@@@@@@#####+++##+++#+'''+++'';;;;:::::::::,,:,,,:,,,,,,,,,,,,,,,
````````.`.,++###++';;;;;;;;'';;;''+#########@#@###########@###@#######@@@#@@#####@#@@@@@#@@@#######@@@@@@@@@@@@@@@@@#####+++++++##+'''++++'''';;::::,:::::,:,,,,,,,,,,,,,,,,,,
``````````.,##++#+##+';;;;;''''';'++########@@@#############@@@@@########@######@@####@@@#############@#@@##@@@@@@@@@######+++#####+++++++++'''';::::,::,::::,,,,,,,,,,,,,,,,,,
```````````.+#+++#+##++;;;''''''''++#####@@#@#@############@###@#####@###@@##@#@#@##@@#@@####################@#@@@@@@#@####++######+++++++++'++';;::::::,,,,,,,,,,,,,,,,,,,,,,,
``````````..++++++##++'';'''''+'+++#############################################################################@#@@@@@@@##+###########+#+++''+';:;:::::,:,,,,,,,,,,,,,,,,,,,,,
`````````..,#+'''+#++'';+'''''++++#+####@#########@###@#######################@##########################+##########@##@##################+++'+';;;::::,:,,,,,,,,,,,,,,,,,,,,,,
``````````..++++';++''''''''''++++###############@###@@###########################################+####+++++++++###########################++'+';;;;:::::,,,,,,,,,,,,,,,,,,,,,,
```````````.#++#''';;''''''+''++++#############@######@###################################+#+#+#+#++++++++#+++++++#################@@#@####++''';;;;;::,,,,,,,,,,,,,,,,,,,,,,,,
```````````.#++++'+'';''''++++++###################################################+#++####++#++++++++++++++++++++++###############@#@@@####+''';;'';;:,,,,,,,,,,,,,,,,,,,,,,,,
```````````.++++''''''''''++++##########################+##+##+########################+#++++++++++++++++++++++++++++#########@#@#@@@@@@@###+';';'''';:,:,,,,,,,,,,,,,,,,,,,,,,
``````````..'';;'''''+'++++++############@###############+###++###+######+#++++++#+++++++++++++++++++++++++++++++++++##+#######@@@@@@@@@@@##';;'''''';::,,,,,,,,,,,,,,,,,,,,,,,
``````````..+++'''''+++++###############################+#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#######@@@@@@@@@@@###';;'+++';;::,,,,,,,,,,,,,,,,,,,,,,,
```````````.'++'''++++++#########################+###++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#######@@@@@@@@@@#+';'++#'';;::,,,,,,,,,,,,,,,,,,,,,,,
```````````.''''''+++++#######################++#+#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#######@@@@@@@@@#+'''+##+';;;::,,,,,,,,,,,,,,,,,,,,,,
```````````.''''''++++#####################++#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++'''+'++++++#+#######@@@@@@##+'++###+';;:::,,,,,,,,,,,,,,,,,,,,,,
```````````.:'''+++++###################+##+++++++++++++++++++++++++++++++++++++++++++++++++++++++'+'+++'+''''''''''''++++++##+#####@@@@@@#++#+###+';;;::,,,,,,,,,,,,,,,,,,,,,,
``````````..:;'+++++#########@########++++++++++++++++++++++#+++++++++++++++++++++++++++++'++++++'''''++''''';''';;;'''''''+++######@@@@####+######';::;:,,,,,,,,,,,,,,,,,,,,,,
``````````..:;'+#+++##########@######+#++++++++++++++++++++++++++++++++++++++++++'++++++++'+++++''+'''''''';';;;;;;;';;'''''''+######@@@@######@##+';::;:,,,,,,,,,,,,,,,,,,,,,,
`````````...:;;'++###########@######+++++++++++++++++++++++++++++++++++++'+++++++++++++'+++++'+''''''''''';;;;;;;;;;;;;;;;'''''+++####@#######@####';:;;:,,,,,,,,,,,,,,,,,,,,,,
```````````.,;;''+#######@##@@#######++++++++++++++++++++++++++++++++++++++++++++'++++++++++'''''''''''''';;;;;;;;;;;;;;;;;';'''+++#########@@@@###+;:;;:,,,,,,,,,,,,,,,,,,,,,,
``````````..,;'''++######@#########+++++++++++++++++++++++++++++++++++++++++++++++++'++++'''''''''''''''''';;;;;;;;;;;;;;;;;;;;''+++#######@@@@@@##+;;;;,,,,,,,,,,,,,,,,,,,,,,,
``````````..:;'+++######@########+++++++++++++++++++++++++++++++++++++++++'+'++'++++'++''''+''''''''';''''''';;;;;;;;;;;;;;;;;;;;''++#####@@@@@@@##+';;:,,,,,,,,,,,,,,,,,,.,,,,
```````....,:;'++++#####@#######+++++++++++++++++++++++++++++++++++++++'++'+''+''''''+''''''''''''''''''''''''''''';;;;;;;;;;;;;;''''+####@@@@@@@##++;;:,,,,,,,,,,,,,,,,,,,,,.,
```````.,,,,;'++++++#####@#####++++++++++++++++++++++++++++++++++''++++'+''++'+'''''''''''''''''+''''''''++'++++++''''';;;;;;;;;;;;;'++###@@@@@@@###+';::,,,,,,,,,,,,,,,,,,,,,,
```````,::::;+++++++###@#@####+++++++++++++++++++++++++++++++++++''+++++'''+++''''''''''+'+''''''''++'''+++++++++++++'''''''';;;;;;;;''+##@@@@@@##@#+';::,,,,,,,,,,,,,,,,,,,,,,
```````,;;;''+###############++++++++++++++++++#+#+++++++++++++++'++'''++''''''''''''''''++''''+++++++++++++#####++++++''+''''';';;;;;;'+##@@@@@@@##+';:,,,,,,,,,,,,,,,,,,,.,,,
```````.;''+++#+###@########+++++++++++++++++#######++#+++++++++++'++'+'''''''+''''''''''''''''++++++++++++##########+++++++++'''';;;;;;'+##@@@@##@#++;::::,,,,,,,,,,,,,,,,,,,,
`` ````,;'+++#+#####@@#####++++++++++++++##############++++++++++++'++'''''''''''''''''''''+++++++++++++++++#++######++#++++++++''';;::;;+##@@@@@@@##+;;::::,,,,,,,,,,,,,,,,,,,
   ```.:''+++######@#@@###+++++++++++++##################++++++++++++'''''''''''''''''''''++++++++++++++++++++++#####+++++++++++++'';;;;;;+##@@@@@@##+';:;::,,,,,,,,,,,,,,,,,::
``````.;+''+######@@@@@@##++++++++++++#####################++##+++++'''''''''''''''''''''+++++++++++#++++++++++++++++++++++++++++++'';;::;'+##@@@@@##+';;;;::,,,,,,,,,,,,,,::;'
```````,;;''+####@@@@@@##+++++++++###########################+++++++++'''''''''''''''''''++++++++++++++++++++++++++++''''''+++++++++'';::;'+###@#####+'';;;;::,,,,,,,,,,::;;;''
```````..:'++###@@@@@@@##+++++++###########################+++##++++++'+''''''''''''''''++++++++++++++++'+''''''''''''''''''''''++++'';:::;'+####@####+''';;::,,,,,,,,:;;;;;;:;
`  ```..,:++#####@@@@@@##+++++###########################+#++##++++++++++''''''''''''''+++'++'++++++++''''''''''''''';;;;;;;;;;''''''';;:::;'########++';';;:::,,,::;;'++';::;;
  ````.::'+#######@@@@##+++++####################+##+####++++#++++++++''''''''''''''''+''''+++++++'+'''''''''''''';;;;;;;;;;;;;;;;'''';;::::;'+######++';;;;;:,,,:;;'++';;::::;
  ````,'++#######@#@@@#+++++####################+#++++#+++++++++++++++'+'''''''''''''''+'''+'+''+'''''''''''''';';;;;;;;;;:;:;;;;;;;'';;::,::;+#####++'';;;;;::::;''';::::,,:;+
  ` ``.;'+########@@@@#++#+##########++++###+++++++++++++++++++++++''+'''+'''''''''''''''''''+''''''''''''''''';';;;;;;;;;;::::::::;;;;;::,,:;'+####++'';;;;;:::;;;;:,:::::;'+#
    ``.,'++######@@####+++#########+++++++++++++++++++++++++++++++++'''''+'''''''''''''''''''''''''''''''''''''''';;;;;;;;:::::::::::;;:::,,,:;+####++'';;;;;;;;;;;:,,,:;;;''+#
`    ``,'++######@@@@###+#######++++++++++++++++++++++++++++++++++++'++''''''++''''''''''''''''''''''''''''''''''''';;;;;;:::::,,:::::::::,,,:;'+###++';;;;;;;;;;;::::;''++;'+#
`     `,'++######@@@@#########++++++++++++++++++++++++'+'+++++++++++'++''''+'''''''''''''''''''''''''''';'''''''''''';';;;;:::,,,,,,,:::::,,,,:;++##++';;;;;;;;;;;;::'''+#+;+##
`    ``,'++#######@@@#######++++++++++++++++''+++++++''+''++++++++'+'+'''''''+''+'''''''''''''''''';'''''''''''''''''''';;;;::,,,,,,,,::::,,,,:;'+###+';;;;;;;;;;;;;'+';'';+###
`   ``.,'++#######@@########++++++++++++++++'+++++++''''''''++''''''++''++'''''''''''''''''''''''''''''''''''''''''''''';;;;;:::,,,,,,,,::,,,,,:'++##+';;;;;;;:;;;'''';'';'+###
`   ``.:'#+#######@@######+++++'+'+++++++++++'''++++'''''+''++''''+''++''++'''+''''''''''''''''''''''''''''''''''''''''''';;;;:::,,..,,,:,,,,,,:;'+##+';;'';;;;;;''';;'';;''+##
`  ``.,:'++#######@@######+++'''+++'++++++''''+'+''''''''''+'''''+'''''+++++'+'''''''''''''''''''''''''''''''''''''''''''''';;;:::,,..,,,,,,,,,:;'+###+'''';;;;;;'';;'';;;:;+#'
    `,:;'+########@####+##++''++'+++++++++++'+''+'+++'+''''''''''+''++++++'+''+'''''''''''''''''''''''''''''''+'++++++++'''''';;;::,,...,,,,..,,:;'###+''''';;;;'';;;;;';,:+#+;
   ``,'+++########@####++++'''+'+'++++++++++'+'''''++'++'+''''''''++''''+'++'''''''''';''''''''''''''''''''+++++++++++++++++''';';:,,...,,,,..,,:;'+##++'''';;;;''';;;'+::'#+'+
`   `,;+++########@###+++++'''''++'++'''+'+++'''''''+'''+'+'+'''''''++''++++'''''''''';''''''''''''+''+'+''+++++####++++++++++''';;:,,..,,,,,..,,:'+##++++''';;'''';:;+::;##;+#
    `.'++++######@####++++''''++''+'+'+'+'+''+++'+++++''++++'''''+''+++'+++++'''';;';''''''''''''''''+''+++++++###++++++++++++'''';;:,,,,,,,,,,,,:;'+#+++++'';;'++';;';;'##++##
`   `.'+#++#####@@@##++++''''''++++''+''+'++++'++++++++++++++++'+'+++'+++++++''';;;;;;;'''''''++++''''''++###+#+#+++++++++'+++++''';;:,,,,,,,,,,,::'++##++#+''''++';;'''+#++###
`   `.;+##+######@@##+''''''''''++++''+'++++++'++++++'+++++++++++++++++++++++'';;;;;;;;''''''+'+++'''+++####+++##+++++++++++++'++'';;::,,,,,,,,,,::'+#+++##+''''++';''++#+++##+
`   `.;+#########@###+++''''''''''+''+'++++++++++++++'++++++++++++++++++++++'''';;;;;;;;''''+++++''''+++##+++++#++++++++++++++''+'';;:::,,,,,,,,,,:;+###+##+''''+''''###+##+##+
`   `.'+########@@###++'''''''''+++'+++++++++++++++++++++++++++++++++++++++'+''';;;:;;;''''''+'+''''+++##++++#++++++++++'+++'++++++';;::,,,,,,,,,,:;++#+####''''''''+#@########
`   ``:+########@@###++''''''''+++++++++###########++++++++++++++++++++++++++'';;;;:;;;;''''+++''++++##++#+++++++++''''':;''+++++++';;;::::,,,,.,,:;'#######+'''''''+#########+
`   ``;+#########@##++'''''''''''+++++###############+++++++++++++++++++++++'''';;;::;;;;'''+++'+++++##+++++++++++++''':.:;''++++++'';;:::::,,,,,,,:'###@###+'''+''+++####@@###
`   `.'++##@########++'''''''''++++++#################++++++++++++++++++++++''';;;:::;;;''''+++''++++#++++++++++##+++''`,:;;;;++++++'';;::::,,,,,,,:'####@@#++'+++''''''+#@####
`   `,++++#@#########+''''''''+'+++############+########+++++++++++++++++++'''';;:::::;;';'''++'+++++#+##++++++######+:,:::;:.'+++++'';;::::,,,,.,,:'+###@##+++++'';::::;+##@##
`  `.;+++###@#######++''''''''++++########################+++++++++++++++++''';;;;:::;;;;;'''''''+++++#++++++#####@##+:';:::::;+++++'';;::::,,,..,,:;+##@@##++'++';:,,,,:;#####
`  `,'+++####@######+''''''''''+########+###+#+############++++++++++++++++'''';;::::;;;;;'''''''+++####+++++####@@@@##+';::,:;''''''';;;:::,,,..,,,;+#@@@###++++':,...,,:'####
` `.;+++##########@#+'''''''''++++####+#+++#+#+###+##########+++++++++++++++'';;::::::;;;;;;;;';''+#####++++####@@@@@##+';;:::;;;'''''';;;::,,,...,,;+#@@###++++'':.....,:;####
```:'+####+#######@#++''''''''++++###++++++++########+#######++++++#++#++++''';;::::::;;;;;;;;;;''+######++++###@@@@@###+;;::::;;;;;';';;;::,,,....,;+##@###++++';,.....,:;####
` `:'++++###########+'''''''''++++##+++++++########++#########++++###++++++''';;::::::;;;;;;;;''''+++#####++#####@@@####+';;::;::,::;;';;;::,,,....,:+######++++';,......:;+###
`  `.:++++###+######+''''''''++++##+++++++###@@@@##############+++###++++++'';;;:,,,:::;;;;;;;''''++++##################'';;::;:,,,::;;;;;::,,,...,,:'######++++':,.....,:;+###
`   `.,;'+#+########+'''''''''+#+++++++++#@@@@@@#@#############++####++++++'';;:,,,,,,::;;;;;;'''++++++################+'';;;;:,,,,,:::;::::,,,....,:'#####+++++':,.....,:;##@#
`    ``.;++#########+''''''''+++++++''+++####@@@@@@@###########++#####++++''';::,,,,,,::;;;;;;;'''+++++++++++##++++++++'''';;::,,,,,,,:::::,,,,....,:'+#####++++'::......:'+##@
`     ``,++++#######+''';''''++++++''''+#@##@@@@@@@@##########++#+###+++++''';;,,,,,,,::;;;;;;;;'''++++++++++#+++++++'''''';;::,,,,,,,,,::,,,,.....,:;+#####+++'';:,.....:'###@
`     ``.#++++######+''''''''++++++;'+++#@#@@@@@@@@@@##########+#####+++++'';;:,.,,,,,,::;;;;;;;''''+++#+#++++++++++'''''';;;::,,,,,.,,,,,,,,,,....,,;++####++++'':,.....:'##@#
`       .'+++++#####+'';'''''++++++''++++#@##@@@@@@@@################++++''';;:,.,,,,,,:::::;;;;;;''''+++++++++++++''''''';;;:::,,,,..,,,,,.,,......,;'++###+#++++;:,...,:'###@
`       `;'+++++####+';';''''++++++++#+###@###@#################+####++++'';;:,,..,,,,,,,:::;;;;;;;''''++++++++++++++'''''';;;::,,,....,,,..........,:''+###+#+++#';,...,:'##@@
        `:;'+#######+'';'''''+++''+++##############################+++++''';;:,....,,,,,,:::::;;;;;;;;'''''++++++++++'''''';;:::,,,.....,...........,:;'++#+##+++##':,..,:'####
        `,:;++######+;;;'''''+++'''++++#++#+++++++++##############+++++++'';;:,.....,,,,,,,::::;;;;;;;''''''++++++++''+'''';;:::,,..................,:;'++##+++++##':,..,:+####
`       `,:;'+######+;;;''''''''''''++++++++++++++++##############+++++''';;;:,.`..,...,,,,,:::::;;;;;;;'''''''''''''''''';;;:::,,,.................,:;''++#+#++###+;,,,:'###@@
`        `,:'+#+###+';;;''''''''''''+++++++++++++++++##########+#++++++''';;::,.`.....,,,,,,:::::::;;;;;;;''''''''''''';;;;;:::,,,..................,:;''++#++++###+;:,:;###@#@
`        `,.;++####++;;;;''''''''''''''++++++++++++++#######+####+++++''';;;:,..``......,,,,,:::::::;;;;;;;;;'''''''';;;;;;;::,,,,........````......,:;'''+##++####+';:;###@#@@
`         ..'++###+++;;;;;''''''''''''''++++++++++++++#+#####+#+++++++''';;::,,.```.....,,,,,,::::::::;;::;;;;;';;'';;;;;;;:::,,,........``````.....,:;''++##++#####';'#@@#@@@@
`         `.:++###+++;;;;;'''''''''''+++++++++++++++++####+#+++++++++'';;;;::,,.````......,,,,,,:::::::::::::;;;;;;;;;;;;::::,,,.......````````.....,:;''++##+##@###''#####@@@@
`          `.+++#++++;;;;;'''''''+++++++++++++++++++#+######++++++++''';;;;;:,,.````.......,,,,,:::::::::::::::::;;;;;::::::,,,,,.......```````.....,;;''++##+##@@##+####@@@@@@
`           .++++#+++;;;;;''''''''+'++++++++++++++++++++#+++#+++++++''';;;;::,,,.```........,,,,::::::::::::::::::::::::::::,,,,,......`````````....,;;''+##+###@@#######@@@@@#
`           `'+++++++';;;;'''''''++++++++++++++++++#####++++++++++''''';;;;;;:,,,...........,,,,::::::::::::::::::::::::::,:,,,,........````````....:;'''+##+####@@####@###@@@@
`            '+++++++';;;;''''''''+'++++++++++##++#+#+++++++++++++''''';;;;;;;::,,,..........,,,:::::::::::::::::::,:,:,,::::,,,,,.......``````....,:;'''++#+####@######@#@@@@@
`            :++++++'';;;;'''''''++++++++++++##++++++#+++++++++++''''''''';;;;;:::,,.....``..,,:::::;::::::::::::::::,,:,:::,,,,,,,.......````.....,:;''+++##@###@#####@@@@@@@#
`            .'++++++';;;;;;''''''++++++++++++#++++++++++++++++++;''''''''';;;;;:::,,,,..``...,:::;;;;;;;:;:::::::,::,,,,,::,,,,,,,,,..............,:;'++'+##@###@@###@@##@@@@@
`            `,'+++++';;;;;;''''++++++++++++++++++++++++++++++++';;''''''''';;;;;;::,,,,......,,::;;;;;;;;;;:;:::::::,,,,,,,,,,,,,,,,,,............,:''+''######@@@####@#@@@@@@
`             `:;''+++;;;;;;;''''+++++++++++++++++++++++++++++++';'''''''';';;;;;;;:::,,,,,....,:;;;;;;;;;;;;;::::::,,,,,,,,,,,,,,,,,,,,...........,:'+';;+##@##@@@#@@@@@@@@@##
`              `:;''++;;;;;;;'''''+++++++++++++++++++++++++++++';;'''''''''''';'';;;:::::::,,...,;;'';;;;;;;;;;;::::::,,,,,,,,,,,,,,,,,,,.........,,;'+;;;+##@#@@@@@@#@@@@@@@@@
`               `;''++;;;;;;;''''''+'++++++++++++++++++++++++++'';''''''''''';'';;;;;:::::::,,...:''''';;;;;;;;;:::::::,,,,,,,,,,,,,,,,,,,........,,;+';;;'#@@@@@@@@@@@@@@@@@@@
`                .''++;:;;;;;''''''+'+'++++++++++++++++++++++++'';';''''''''''''';;;;;::;;::::,..,;';'';;;;;;;;;;;::::::,,,,,,,,,,,,,,,,,,,,......,:;'';;;'###@@@@@@@@@@@@@@@@@
`                 ;'+#';;;;;;'''''''''''+'++++++++++++++++++++';'';'''';'''''''''';;;;::;;;;;::,.,:''''''';;;;;;;;;:::::,,,,,,,,,,,,,,,,,,,,,.....,:''';;;'##@@@@@@#@@@#@@#@@@@
`                `,'++';;;;;''''''''''+'''+++++++++++++++''++'';';'';';;;';'''''''';;;;;;''';;::,,:''''''''';;;;;;;;;:::,,,,,,,,,,,,,,,,,,,,,,,.,,,:'''';';#####@@@@@@@@@@@@@#@
`                `:'+++;;;;;;;'''''''''''''+'+++++++''++'+'++'';;;'''';';';'''';'';;;;;'+##+';;;:,:;'''''';';;;;;;;;;::::::::,,,,,,,,,,,,,,,,,,.,,,:;''';;;+#@@@@@@@@@@@@@@@@@@
`                 ,'+++;;;;;'''''''''''''''+++'++'''''++''+++'';';'''';';;''''''''';;;'##@@#+';;;::'''''''''';;;;;;;;;:::::::,,,,,,,,,,,,,,,,,,.,,,:''''';;+#@@@@@@@@@@@@@@@@@@
`                 ,''++;;;;';'''''''''''''''''''+''''''''''++''''''+++''''''''''''';;+@@@@##+'';;::''''''''''';;;;;;;;;:::::::::,,,,,,,,,,,,,,,,,,,:'++'';'+#@@@@@@@@@@@@@@@@@@
`                 ,''++';;;';'''''''''''''''''''''''''+'+'+++'''''++###+''''''''''';'#@@@##++'';;::'''''''''''';;;;;;;;::::::::::,::::,,,,,,,,,,,,,;+++'';;##@@@@@@@@@@@@@@@@#@
`                 .'''++;;;;;;';''''''''''''''''''''''''''+++'''''++####+''''''''';;++#@##+++'';;;;''''''''''''';;;;;;;;:;::::::::::::,::,,,,,,,,,:'+++';:;#@@#@@@@@@@@@@@@@@@@
`                 .'+''+;;;;;;;''''''''''''''''''''''''''''++'''''+++###+'''''''';;''+####+++''';;;';;'''''''''';;;;;;;;;:::::::::::::,:,,,,,,,,,,:'++';::'###@#@@@@@@@@@@@@@@#
`                 .'+';';;;;;;'''''''''''''''''''''''''+'''+++'''''+++#+''''''''';;''''+++++''''';';;;'''''''''';;;;;;;;;;;;:::::::::::,:,,,,,,,,,;''';::;+##@@@@@@@@@@@#@@@@@#
`                 `'+';';;;;;;;;;'''''''''''''''''''''''''''+'+'''+++++++''''''';;''''''+++'+''';;;;;;;;'''''''';;;;;;;;;;;;::::::::::,::,,:,,,,,:;;;::::;+@##@@@@@@@@@@@@@@@@@
``                `''+;'';;;;;;;;''''''''''''''''''''''''''''+++''++++++''''''''''''''''''''+''';;;;;;;;;''''''''';;;;;;;;;;::::::::::::::,::,,,,:;:,,:::;#@#@@@@@@@@@@@@@@@@@@
`                 `'++;'';;;;;;;''''''''''''''''''''''''''''+'++++++'++'''''''''''''''''''''''';;;::;;;;;;;'''''''';;;;;;;;;:::::::::::::::::,,,,::,,,:::'#@@@@@@@@@@@@@@@@@@@@
`                 `''+''';;;;;;;;;'''''''''''''''''''''''''+'++++++++'''''''''''''''''';;'''';;;:::::;;;;;;;;''''''';;;;;;;;::::::::::::::::,,,,,,:,,,:::##@@@@@@@@@@@@@@@@@@@@
`                 `;'+'''':;;;;;;'''''''''''''''''''''''''''++++++++++'''''''''''''''';;;;;;;;;;:::;::;::;;;;;;';;';;;;;;;;;;::::,:::::::::::,,,,:::,,,:'##@@@@@@@@@@@@@@@@@@@@
`                 `;'+'''';;;;;;;;'''''''''''''''''''''''''''''++++++++'''''''''''''''';;;;;;;;::::::::::::;;;;;;;;;;;;;;;;;;:::::,:::::::::,,,,,::,,,,;##@@@@@@@@@@@@@@@@@@@@@
`                 `'+++;'+;;;;;;;;'''''''''''''''''''''''''''+'++++'++''''''''''''''';;;;;;;;;:::::::::::::::;;;;;;;;;;;;;;::::::::::::::::::,,,,::,,,:+###@@#@@@@@@@@@@@@@@@@@
`                 `''++'''';;;;;;;;''''''''''''''''''''''''+++++++++''''''''''''''''';;;;;;;;;:::::::::::::::::;;;;;;;;;;;;:::::::::,::::::::,,,,,,,,:'##@#@@@#@@@@@@@@@@@@@@@@
`                  ;'+++''';;;;;;;;'';'''''''''''''''''''''+'+++++++'''''''''''''''';;;;;;;;;:::::::::::::::::::;;;;;;;;;;;::::::::::::,,:::,,,,,,,::;###@#@#@@@@@@@@@@@@@@@@@@
`                  '''++;;';;;;;;;;';;''''''''''''''''''''''+'++++++''''''''''''''''';';;;;;;:::::::::::::::::::::;;;;;;;::::::::::,,::::::,,,,,,,::'#####@@@@@@@@@@@#@@@@@@@@@
                   ''+++';;;;;;;;;;;;;'''''''''''''''''+++''++++++'+'''''''''''''''''';;;;;;:::::::::::::::::::::::;;;;;;;:::::::,,,,::::::,,,,,,:;'###@@@@@@@@@###@@@#@@#@''#+
`                  ''++++;;;;;;;;;;;;'''''''''''''''''''+++++++++'++''''''''''''''''''';;;;;::::::::::::::,::::::::::;;;;::;::::::,::,::::,:,,,,:'###@@@@@@@@@#@#@@#+':;@#+;;+.
``                 ;'+++#+;;;;;;;;;;;'';;'''''++''''''''+''''+++'+'+'''''''''''''''''';;;;;:::::::,,::::::::::::::::::;;:::;::::::::::::,:,,,,,,'##@@@@#@###########;:::@+';;,,
                   ;'++++++;;;;;;;;;;';'''''''++'''''''''+'+++++'''''''''''''''''''''';;;;:::::::,,,::::::::::::::::::;;:::::::::::::,:,,,,,,,,:+#@@@@@@'##@@#;'@@#;:,,:#+;;:,;
                   ;''+++++';;;;;;;;;''''''''++''''''''''''''+'+'+++''''''''''''''''';';;;::,,,,:,,,::::::::::::::::::::::::::::::::,,,:,,,,,,,:###@@@#+:+#@#',;+@+#;,,:+#+';;'
 `                `;;'++++++':;;;;;;;'''''''+++''''''''''''''+''++++'''''''''''''''''';';;:::,,,,,,,::::::::::::::::::::::::::::::::,,,:,,,,,,,;#'#@@@#:;'###,,;'+@+;:::'##+''#
                  `'''+++++#+;;;;;;;;''''''''++'''''''''''''''''''''''+'''''''''''''''''';;;;:::::,,,::::::::::;::::::::;::::::::::::,:,,,,,,,,;+''@@#+;;'#@',,;''#+#'::#@##+#@
``                 ;''++++##++;;;;;;;''''''''+''''''''''''''''''''++''++'''''''''''''''''''';;;;:::::::::::;;;;;::::::::::::::::::::,:,,,,,,,,:;';;####::;@#::;'+####':+++++##@
``                 ;''+++++#++';;;;;;;''''''++''''''''''''''''''''+''+++''+'+''''''''''''''''''';;;;:::::::;;;;;;;::::::::::::::::::,,:,,:,,,,:+:,'#@#;;;#@@:+#'####+''++'++#@@
 `                 ;'''++#+##+':;;;;;;;;''''++''''''''''''+'''''+'++'++++''+++++'''''''+''+'''''''';;;;;;;;;;;;;;;;::::::::::::::::,:::,,,,,,,:':;###++'#@@+###@@##+++''''+##@#
 `                 :'''++++#+#+;;;;;;;;''''''+''''++++++'++++++++++++++'++++++++'+'+''''++'''''+++''''';;;;;;;;;;;;;;:::::::::::::,:,::,:,,,,,:;'##@####@@@@@@@@@@##+++++#####+
 `                 :'''+++++#+#';;;;;;;;;''''+'''++++##+###+++++++#####+++++'++++++''+++++++++++++++''''''''''''';;;;::::::::::::::,::,::,,,,:;###@@@@@@@@@@@@#@@####++++''++;+
 `                 :'''+++#+##++;;;;;;;;;;;'''+'''+'+++++##+##############++++++++++++++++++++++++++++++''''''''';;;;;:::::::::::::,::::,,,,,:'#@@@@@@@@@@@@@@@###+'+;;;;''';'#
 `                 ,'''+++#++##+':;;;;;;;;;'''+'''''''+++#++++++++###################################+++++++++'''';;;;;;;;::::::::::::,,,,,,,:#@#@@@@#@@@@@@@@@@@#';;;;''++;'+#
``                 ,''''++##++#++;;;;;;;;;;''''+'''''''++++++++++++#++###############+#+++++++++++++++++++++++++''';;;;;;:::::::::::,,:,,,,,,;##@@@@@###@@@@@@@@#'''''#+##+####
 `                 ,'''++##+#+###':;;;;;;;';;''+''''''''++++++++++++++####++++++++++++++'''+''''';''''''+++++++''''';;;;;;::::::::::,::,,,,,:;#@@@@@@##@@@@@#@@@@+############+
 `                 .'+''+++###+##+;:;;;;;;;;;'''''''''''''''++++++++++++++++++++++++''+'''''';';;;;;;;'''''''''''';;;;;;:;:::::::::::::,,,,,:+#@#@@@@###@@@@@@#@@@#++@@@#++'+++
 `                 .'+''+++#######':;;;;;;;;;''''''''''''''''''''+++++++++++++'++'+'''''''''''';;;;;;;;;;;;;;''''';;;;;;;;:::::::::::,::::,:;###@##@#@####+####''';;+@##+++++++
 `                 `'++'+++#######+;:;;;;;;;;'''''''''''''''''''''+'++++++'++'''''+'+''''''''''';;;;;;;;;;;;;;;;;;;;;;;;;;:::::::::::::,::::'####+#@#++''''+##';';''###+++#####
 `                 `+++'++++#######'::;;;;;;;;;''''''''''''';;'''''+''+++++'+++'''+'+'+'''''''''';;;;;;;;;;;;;;;;;';;;;;;;:::::::::::,::,:::+###++###+''''+##''+'++############
 `                 `+++++++########+;::;;;;;;;;;'''''''''''''';''''''++++++''++''''''''''''''''';;;;;;;;;;;;;;;;;;;;;;;;;:::::::,::::::::::;#@#++###++++++##################++'
 `                 `++++'++#+#######':::;;;;;;;'''''''''''''''';''''''''''''''''''''''''''''''''';;;;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::+#@@##@@####@###@@#####+++'';;:::,,,
 `                 `++++'++++#+######;;;;;;;;;;;;''''''''';'''''';'';''''''''''''''''''''''''''''';;;;;;;;;;;;;;;;;;;;;:::::::::::::::::::;##@##@#########++'';:::::,,,,,,.....
 `                 `+++++++##########+;:;;;;;;;;;''''''''''''''';;';'''''''''''''''''''''''''''''';;';;;;;;;;;;;;;;;;;;;;:::::::::::::::::#########++'';;:::,,,,,..............
 `                 `+++++++###########':;;;;;;;;;;;''''''';'''''''';''';';''''''''''''''''''''''''''';;;;;;;;;;;;;;;;;;;;;:::::::::::::::'++++';;;:::,,,,,.....................
 `                 `++++++++###########;;;;;;;;;;;;''''''''''';;'''''''''''''''''''''''''''''''''''';;;;;;;;;;;;;;;;;;;;;::::::::::::::::::::,,,,,,............................
 `                  +++++++++##########+;;;;;;;;;;;';'';';'''';;''''''''''''''''''''''''''''''''''''';;;;;;;;;;;;;;;;;;;::::::::::::::::,,,,...................................
 `                  +++++++++###########';;;;;;;;;;;';'''';''';''''''''''''''''''''''''''''''''''''''';;;';;;;';;;;;;;;;:::::::::::::::,.......................................
 `                  +++++++++############';;;;;;;;;;;'''''''''''''''''''''''''''''''''''''''''''''''';';;;;;;;;;;;;;;;;:::::::::::::::,,..................................`....
 `                  ++++++++#############+;;;;;;;;;;;;;;;'''''''''''''''''''''''''''''''''''''''''''''';;';;;;;;;;;;;;;::::::::::::::,,,..................................``...
 `                  +'++++++##############+;;;;;;;;;;;;';;;'''''''''''''''''''''''''''''''''''''''''';'';;;';;;;;;;;;;;:::::::::::::,,,........................................
 `                  ++++++++###############';;;;;;;;;;;;;;''''''''''''''''''''''+''''''''''''''''''''';;;;;;;;;;;;;;;;:::::::::::::,,,,........................................
 .                  '++#+++++#+#############';;;;;;;;;;;;;''';;''''''''''''''''''''''''''''''''''''''';;';;;;;;;;;;;;::::::::::::::,,,,....................................,,,,
 `                  '+++++++++###########@##+';;;;;;;;;;''''';;''''''''''''''''+'''''''''''''''''''''';;';;;;;;;;;;;;;::::::::::::,,,,,.................................::::;:;
 `                  '+++#+#+##++###########@#+::;;;;;;;;;;;';'';'''''''''''''''+'''''''''''';;';'''''''';;;;;;;;;;;;:;:::::::::::,,,,,,................................:'+++++#
 `                  '++++++++#+##########@@###;;;;;;;;;;;;;''';;;'''''''''''''''''''''''''';;;;;;;;;;;;;;;;;;;;;;;;;::::::::::::,,,,,,,...`...........................,:'++++++
 `                  ;++++++#+##+########@#####+;;;;;;;;;;;;'';;;';''''''''''''''''''''''''';;;;;;;;;;;;;;;;;;;;:;;;:::::::::::::,,,,,,,...``...........................,;++++++
 `                  ;++++#+##++++++######@@@@##;;;;;;;;;;;;;;;;;'''''''''''''''''''''''''''';;;;;;;;;;;;;;;;;;:;;:;:::::::::::::::,,,,,..````..........................,:++++++
 `                  ;'+++++#+++##+#+####@@@@@##;:;;;;;;;;;;;;;;;;;'''''''''''''''''''''''''';;;;;;;;:;;::;;;;;::::::::::::::::::::,,,,,..``````........................,:'#++++
 .                  ;++++++##+##++++#####@@@@#@':;;;;;;;;;;;;;;';;'''''''''''''''''''''''''';;;;;;;;:::::::::::::::::::::::::::::,,,,,,..```````.......................,:+'';::
 .                  :++++####+#####++####@@@###;::;;;;;;;;;;;;;';;'';'''''''''''';'''''''';;';;;;;;;:::::::::::::::::::::::::::::,,,,,,...````````....................,:;;::,,,
 .                  :++++++################@@@#;::;;;;;;;;;;;;;;;;;'''''''''''''''''';'''';;;;;;;;;;:::::::::::::::::::::::;:::::,,,,,,...````````.`.................,,:::,....
 .                  ,++++++#########+#######@@#;::;;;;;;;;;;;;;;;;';'''''''''''';''''''''';'';;;;;;;;;:::::::::::::::::::::;:::::,,,,,,,..``````....................,,,.,,,....
 .                  ,'+++++#+#+######+######@@#;:;;;;;;;;;;;;;;;;;';'''''''''''''''';''';';';;;;;;;;;;;::::::::::::::::::;;;:::::,,,,,,,....`..,.....`..`....................``
 .                  ,++++++###++##########@##@#::;;;;';;;;;;;;;;;;;;;'''''''''''''''';'''';';;;;;;;;;;;;:::::::::;::::::;;;;::::,,,,,,,,....,,,,,,,....`.`..................```
 .                  .'+++++#++##############@##;::;;;;';;';;;;;;;;;;;''''';''''''''''';''''''';;;;;;;;;;;;::::;::::::::;;;;;::::,,,,,,,,,,,:,:::,,,......`..............```````
 .                  .'''+++++#+################;:::;;;;;'';;;;;;;;;;;;''';''''''''''''';'''';'';;;;;;;;;;;;;:;;::::::;;;;;;;:::::::,,:,,:::::::::,,,,.....`.........,..````````
 .                  .''+++++++#+###############',.,:::;;;''';;;;;;;;;'';';;'''''''''';'''''''';;';;;;;;;;;;;:;;;;;:;;;;;;;;;;::::::::::;::;;:::::,,,,.......`...........```````
 .                  .'++++++++##########+#####@':,.,,:;;;''';;;;;;;;;;';;;;''''''''''''''''''';''';;;;;;;;;;;;;;;;;;'';;;;;;;:::::::;;;;;;;;:;:::::,,.........````........`````
 .                  `'+'+++++##########++#######+;,.,,:;;'''';;;;;;;;;;;;'';''''''''''''''''''''''';;;;;;;;;;;;;;;;;'''';;;;;::::;;;;'';';;;;::::::,,,,,,....`.`...........````
 .                  `'''+'++++++#+##+#+++########+,..`,;;;';;;;;;;;;;;;;'''''''''''''''''''''''''''';;;;;;;;;;;;;'''''';;;;;;::;;;;;'''''';;;;:::::,,,,,,,,.......````....`````
 .                  `;;;'''';++++++++#++#########;````.;;;;';''';;;;;;;';;;'''';''''''''''''''''''';'''';;;';;''''''''';'';;;;;';'''''''';;;;;;;:::::::,,,.........````..`````.
 .`                 `;;;;;;;'+++#+++++++++######+``````:;;;''''';';;;;;';;;;'';''''''''''''''''''''';'''''';''''''''''''''''''''+''''''''';;;;;:::::::,,.....,......``````````,
 .                  `;;;;;;''+++++++++'''+++####.``````,;;';;'''''''';'''';';;';'';''''''''''''''''';'''''''''''''''''''''''+'+'++''''''''';;;;;:::::,,,................``````.
 .                  `;;;;;''++++++++++'''++++++:```````,;;'';''';;'''''''''';';;';';';''''''''''''''''''''''''''+++++++++++++++'++++'+'''''';;;:::::,,.,,,,,,..............```.
 .      ``  `       `;;;:;'++++++++++''';;:,,..```````,:;;;;;'';;';''''''''''';;'''''''''''''''''''''''+'+++++++++++++##++++++++++''''''''';;;:;:::,,,,,,,,,,................``
 .      `            ;:.`;''';::..```````````````````.,;;;;'';''''''''''''''''''''''''''''''''''''++'++++++##+#########+++++++++++'++'''';;;;:;;::,,,,,,,,,,..................`
</p></h14>
